.section {

  margin-top: 28px;

  background: #ffffff;

  border-radius: 28px;

  padding: 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,.04);

  border:
    1px solid rgba(255,255,255,.7);

  position: relative;

  overflow: hidden;
}

.section::before {

  content: "";

  position: absolute;

  top: 0;
  left: 24px;

  width: 70px;
  height: 4px;

  border-radius: 20px;

  background:
    linear-gradient(
      90deg,
      #3b82f6,
      #60a5fa
    );
}

.section-title-area {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 22px;
}

.section-subtitle {

  font-size: 12px;

  text-transform: uppercase;

  letter-spacing: 2px;

  color: #9ca3af;

  font-weight: 600;
}

.section h3 {

  font-size: 22px;

  margin-top: 4px;

  color: #111827;

  font-weight: 700;
}