@media(max-width:768px){

  .products-grid{

    grid-template-columns:
      repeat(2,1fr);
  }

  .categories{

    grid-template-columns:
      repeat(2,1fr);
  }

}

@media(max-width:500px){

  .products-grid{

    grid-template-columns: 1fr;
  }

  .categories{

    grid-template-columns: 1fr;
  }

  .section{

    padding: 18px;
  }

  .section-title h3{

    font-size: 20px;
  }

}