body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fb;
    color: #333;
}

/* CONTAINER PRINCIPAL */
.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

header h1 {
    color: #007BFF;
    font-size: 32px;
}

header p {
    color: #666;
}

/* BOTÃO (3 risquinhos) */
.menu-toggle {
    font-size: 25px;
    cursor: pointer;
    z-index: 2;
}

/* MENU ESCONDIDO */
.menu {
    position: absolute;
    top: -25px;
    right: -10px;
    background: #fff;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    width: 180px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* LINKS */
.menu a {
    padding: 12px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.menu a:hover {
    background: #007BFF;
    color: #fff;
}

/* QUANDO ABRIR */
.menu.active {
    display: flex;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: #fff;
    border-radius: 50px;
    margin: 40px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #007BFF;
}

/* BANNER */
.banner {
    text-align: center;
    padding: 40px 20px;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    color: #666;
    margin-bottom: 20px;
}

/* BOTÃO PADRÃO (MESMA IDENTIDADE DO LOGIN) */
.btn {
    padding: 12px 25px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

/* BOTÕES DE SERVIÇO */
.btn-pet {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.btn-pet i {
    color: #007BFF;
    margin-right: 5px;
}

.btn-pet:hover {
    transform: translateY(-3px);
    background: #007BFF;
    color: #fff;
}

.btn-pet:hover i {
    color: #fff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    border-radius: 20px 20px 0 0;
}

@media (min-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
    }

    .header-text {
        position: static;
        transform: none;
    }

    .menu-toggle {
        display: none;
    }
}